.float-left {
    padding-right: 10px;
}

#nav {
    font-weight: bolder;

    background-image: url(https://i.pinimg.com/originals/4a/96/83/4a96831f3c3f2c77633260f6f2da392f.jpg);
}

.carousel-caption {
    color: black;
}

.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;

}

#aboutMeTitle {
    font-family: 'Amatic SC', cursive;
    color: black;
    text-align: center;
    font-size: 70px;
    text-shadow: -2px -2px 4px rgba(245, 245, 245, 0.61);
}

#aboutMe {
    font-size: 32px;
    color: rgb(196, 191, 191);
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke: 2px black;
    background-color: rgba(245, 245, 245, 0.164);
}

body {
    background-image: url(https://1.bp.blogspot.com/-N0vH0CB01EE/WFtsLFC7cyI/AAAAAAAAC5c/eMs5gGLNMGQme_RcfzjdoezydcoisUwtgCLcB/s1600/Barnwood%2BWallpaper.jpg);
    background-size: 100% 200%;
}

#me {
    width: 175px;
    height: 200px;
}

.display-4 {
    height: auto;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    color: black;
    text-align: center;
    margin-top: 18%;
    text-shadow: -2px -2px rgba(245, 245, 245, 0.61);
}

img {
    width: 100%;
    height: auto;
}

.container-fluid {
    background-color: rgb(215, 215, 245);
}

.container-fluid,
.container {
    width: 40%;

    margin-top: 5%;
    padding: 5px;
    margin-bottom: 2%;
}

.col-md-6 .port {
    margin: auto;
}

@media screen and (max-width: 412px) {
    html {
        font-size: 55%;
    }
}